body {
  font-family: Arial, sans-serif;
  background-color: #fefefe;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #b30086;
  font-size: 2.5em;
}

button {
  padding: 10px 20px;
  background-color: #b30086;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #80005c;
}

